input {
  border: 1px solid blue;
  height: 2em;
  margin: 1em;
}

#btn-submit {
  padding: 0.5m;
  margin: auto;
  background-color: #000;
  opacity: 0.5;
  color: #fff;
  width: 10em;
  height: 3em;
}

table {
  margin: auto;
}
